.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    background-color: rebeccapurple; 
  }
  .cart_head{
    font-family: 'Courier New', Courier, monospace;
  }